.flash_notice, .flash_error {
  padding: 5px 8px;
  margin: 5px;
  text-align:center;
}

.flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.warning { color:red; border:2px dotted red; padding:1px; }
