<%% form_for @user, :html => { :class => 'jform' } do |f| %>
  <%%= f.error_messages %>
  <p>
  <%%= f.label t(:label_name) %><br />
  <%%= f.text_field :name %>
  </p>
  <p>
  <%%= f.label t(:label_email) %><br />
  <%%= f.text_field :email %>
  </p>
  <p>
  <%%= f.label t(:label_password) %><br />
  <%%= f.password_field :password %>
  </p>
  <p>
  <%%= f.label t(:label_password_confirmation) %><br />
  <%%= f.password_field :password_confirmation %>
  </p>
  <p>
  <%%= f.label t(:label_group) %><br />
  <%%= f.select :group_id,  options_from_collection_for_select(Group.all, 'id', 'name') %>
  </p>
  <% for attribute in attributes -%>
  <p>
  <%%= f.label t(:label_<%= attribute.name %>) %><br />
  <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
  <% end -%>
  <p>
  <%%= f.submit t(:button_save) %> |
  <%%= link_to_cancel users_path %>
  </p>
<%% end %>
