<%%= title t(:title_users) %>

<table class="jjane">
  <tr>
    <th style="width:40%"><%%=t :name %></th>
    <th style="width:40%"><%%=t :email %></th>
    <th style="width:15%"><%%=t :group %></th>
    <% for attribute in attributes -%>
    <th><%%=t :<%= attribute.column %> %></th>
    <% end -%>

    <th style="width:5%"><%%=t :actions %></th>
  </tr>

  <%% @users.each do |user| %>
    <tr>
      <td>
	<%%= engine_image 'user.png' %>
	<%%= link_to_edit user.name, edit_user_path(user) %>
      </td>
      <td><%%=h user.email %></td>
      <td><%%=h user.group.name %></td>
      <% for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
      <% end -%>
      <td>
	<%%= link_to_destroy user %>
      </td>
    </tr>
  <%% end %>
</table>

<%%= link_to_new new_user_path %>

<%%= will_paginate @users %>
