<%%= f.error_messages %>

<p>
<%%= f.hidden_field :user_id %>
<%%= f.hidden_field :page_id %>
</p>
<p>
<%%= f.label :title %>
<%%= f.text_field :title, :class => 'title' %>
</p>
<p>
<%%= f.text_area :content, :class => 'mceEditor' %>
</p>
<% for attribute in attributes -%>
<p>
<%%= f.label :<%= attribute.name %> %><br />
<%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
</p>
<% end -%>
