<%%= title 'Editing <%= node_name %>' %>

<%% form_for @<%= node_name %>, :url => { :action => "update" }, :html => { :class => 'jform' } do |f| %>
  <%%= partial '/nodes/<%= node_table_name %>/form',{ :f => f } %>
  <p>
  <%%= f.submit t(:update) %> |
  <%%= link_to t(:look_node), show_node_path(@page.url,@<%= node_name %>) %> |
  <%%= link_to_cancel root_url %>
  </p>
<%% end %>
