<div id="tabs">
  <%%= tab_header t(:content_tab), t(:meta_tab) %>
  <div id="tabscontent">
    <div id="tabContent1" class="tabContent" style="display:yes;">
      <%%= f.error_messages %>
      <p>
      <%%= f.hidden_field :user_id %>
      <%%= f.hidden_field :page_id %>
      </p>
      <p>
      <%%= f.label t(:title) %>
      <%%= f.text_field :title, :class => 'title' %>
      </p>
      <%% field_set_tag nil, :id => 'preview_node', :class => 'collapsed' do %>
	<%%= content_tag :legend, t(:preview_node), :onclick => 'PreviewNodeShowHide();' %>
	<%%= f.text_area :preview, :style => 'width:100%; height:70px; display:none;' %>
      <%% end %>
      <p>
      <%%= f.text_area :content, :class => 'mceEditor' %>
      </p>
      <% for attribute in attributes -%>
      <p>
      <%%= f.label t(:<%= attribute.name %>) %><br />
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
      </p>
      <% end -%>
    </div>
    <div id="tabContent2" class="tabContent" style="display:none;">
      <%% f.fields_for action_name=='new' ? :meta_attributes : :meta do |meta_f| %>
	<%% Meta.tags.each do |meta_tag| %>
	  <p>
	  <%%= meta_f.label meta_tag %><br />
	  <%%= meta_f.text_field meta_tag.to_sym %>
	  </p>
	<%% end %>
      <%% end %>
    </div>
  </div>
</div>
