<%% content_for :head do %>
  <%%= javascript_include_tag '/jjane/javascripts/jjane'%>
<%% end %>

<%%= f.error_messages %>

<p>
<%%= f.hidden_field :user_id %>
<%%= f.hidden_field :page_id %>
</p>
<p>
<%%= f.label :title %>
<%%= f.text_field :title, :class => 'title' %>
</p>
<%% field_set_tag nil, :id => 'preview_node', :class => 'collapsed' do %>
  <%%= content_tag :legend, 'Preview', :onclick => 'PreviewNodeShowHide();' %>
  <%%= f.text_area :preview, :style => 'width:100%; height:70px;' %>
<%% end %>
<p>
<%%= f.text_area :content, :class => 'mceEditor' %>
</p>
<% for attribute in attributes -%>
<p>
<%%= f.label :<%= attribute.name %> %><br />
<%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
</p>
<% end -%>
