<%%= title 'New <%= node_name %>' %>

<%% form_for :<%= node_name %>, :url => { :action => :create }, :html => { :class => 'jform' } do |f| %>
  <%%= partial '/nodes/<%= node_table_name %>/form',{ :f => f } %>
  <p>
  <%%= f.submit t(:create_button) %> |
  <%%= link_to_cancel root_url %>
  </p>
<%% end %>
