#jjane_panel {background-color: white;height:40px;color:black;border:1px solid #cfcccc;}
#jjane_panel span { vertical-align:top; }/* спан для того что б текст и картинки рисовались в опере и фф одинаково */
#jjane_panel div {float:left;height:20px;padding:10px;margin:0px;font-weight:bold;border-left:1px solid #cfcccc;}

.jjane { font-family:verdana,arial,helvetica,sans-serif; padding:0; margin:0; }
.jjane a {color:#2b6fb6;font-weight:bold;text-decoration:none;}
h1.jjane {color:#2b6fb6;margin:10px;}

#file_manager_breadcrumbs a {
  display:inline-block;
  text-decoration:none;
  background:#f3f3f3;
  padding:0px 5px;
  border-top:1px solid white;
  border-left:1px solid white;
  border-right:1px solid black;
  border-bottom:1px solid black;
}
#file_manager_breadcrumbs a:hover {
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid white;
  border-bottom:1px solid white;
}

form.jjane label {margin:5px 0;font-weight:bold;}
form.jjane input[type="submit"] {font-weight:bold;}
form.jjane textarea.mceEditor  {width:99%;height:500px;}
input.title {width:99%;height:25px;font-weight:bold;font-size:18px;}
/*#preview_node { overflow: hidden; padding:5px; }
#preview_node legend { text-decoration:none; color:#661bff; font-weight:bold; }
#preview_node legend:hover { text-decoration:underline; cursor:pointer; }*/
fieldset.collapsed { height:10px; border:1px solid transparent; border-top:1px solid black; }
fieldset.expanded { border:1px solid black; }

table.jjane {text-align:left;margin-bottom:5px;background:white;border-spacing:0;}
table.jjane th,#pages_list_header {background-color:#e2e5e9;padding:3px;font-weight:bold;}
table.jjane th,td { padding:2px; vertical-align:middle; }
table.jjane td { height:30px; border-bottom:1px dashed #e0e0e0; }
table.jjane tr:hover { background:#c1d9f9; border-bottom:1px dashed red; }
/* START TABS */
#tabs{margin:0 -5px 0 -5px;padding: 0;background: transparent;voice-family: "\"}\"";voice-family: inherit;}
#tabs ul{font-size:11px;font-weight:bold;margin:0;padding:0;list-style:none;margin-left: 10px;}
#tabs li{display:inline;margin:0 2px 0 0;padding:0;text-transform:uppercase;}
#tabs a.tablink {float:left;margin:0 2px 0 0;padding:0 0 1px 3px;text-decoration:none;background-color:#ededed;border:1px solid #d5d5d5;}
#tabs a.tablink span {float:left;display:block;background: transparent;padding:4px 9px 2px 6px;}
#tabs a.tablink:hover {background-color:white;}
#tabs a.tablink:hover span{background-color: white;}
#tabHeaderActive span, #tabHeaderActive a.tablink { background-color: white;}
div.tabContent {position:relative;top:-1px;clear:both;border:1px solid #d5d5d5;padding:5px;margin:0px;}
/* END TABS */
/* for pages: */
ul.jjane {list-style:none;}
ul.jjane .list_item { border-bottom:1px dashed #e0e0e0; padding:7px; }
ul.jjane .list_item:hover { background:#c1d9f9; }
ul.jjane li > ul {list-style:none;margin:0;padding:0;}
