ul.list {
  padding:0;
  margin:0;
  list-style:none;
}
#li_header { background-color: #e0e0e0; padding:0;}

ul.list .list_item { border-bottom:1px dashed #e0e0e0; padding:7px; }
ul.list .list_item:hover { background:#c1d9f9; }

ul.list a { text-decoration:none; color:#661bff; margin:10px 0; }
ul.list a:hover { text-decoration:underline; }

ul.list li > ul {
  list-style:none;
  margin:0;
  padding:0;
}
