<% f.fields_for :node do |node_f| %>
  <p>
  <%= node_f.label :title, t(:label_title) %><br />
  <%= node_f.text_field :title, :class => :title %>
  </p>

  <p>
  <%= node_f.text_area :content, :size => '100x20', :class => 'mceEditor' %>
  </p>
<% end %>
